  <section class="section">
    <div class="container">
      <button (click)="close()">Close</button>
      <h1 class="title">Create Chat Room</h1>
      <div class="card">
<!--         <div *ngIf="usernameControl" class="card-content"> -->
          <form [formGroup]="form" (ngSubmit)="create()">
            <div class="field">
              <label class="label">Chat-Room Name</label>
              <div class="control">
                <input type="text" formControlName="name" placeholder="Enter your username" class="form-control input" required>
                  <div *ngIf="name.invalid && name.touched">
                </div>
              </div>
              <div class="field">
                <div>
                    <p *ngIf="name.errors?.['required']" class="help is-danger">Chat-room name is required</p>
                    <p *ngIf="name.errors?.['pattern']" class="help is-danger">Invalid characters</p>
                    <p *ngIf="name.errors?.['maxlength']" class="help is-danger">Max length exceeded</p>
                </div>
              </div>
              <label class="label">Password (optional)</label>
              <div class="control">
                <input type="text" formControlName="password" placeholder="Channel Password (optional)" class="form-control input">
                  <div *ngIf="password.invalid && password.touched">
                </div>
              </div>
              <div class="field">
                <div>
                     <p *ngIf="password.errors?.['pattern']" class="help is-danger">Invalid characters</p>
                    <p *ngIf="password.errors?.['maxlength']" class="help is-danger">Max length exceeded</p>
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <!-- <input formControlName="private" type="checkbox" name="twofactor"> -->
                  <input formControlName="type" type="checkbox" name="type">
                  Make it private
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link"  [disabled]="!form.valid" type="submit">Create Chat Room</button>
              </div>
            </div>
          </form>
<!--         </div> -->
      </div>
    </div>
  </section>