<link rel="stylesheet" href="/css/game.css">
<div id="video-container">
    <video autoplay muted loop id="video-background">
      <source src="/imgs/game_video.mov" type="video/mp4">
      Si ves este mensaje es que el navegador no carga el video
    </video>
  </div>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="text-center" style="text-align: center;padding: 20px;">
          <h1 style="font-size: 60px;">GAME</h1>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <button class="btn btn-warning more-size" style="width: 300px;">PUBLIC GAME</button>
        </div>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <button class="btn btn-warning more-size" style="width: 300px;">PRIVATE GAME</button>
        </div>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <button class="btn btn-warning more-size" style="width: 300px;">VIEW GAME</button>
        </div>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
            <a href="/game/play" class="navlink">
                <button class="btn btn-warning more-size" style="width: 300px;">PLAY VS IA</button>
            </a>
        </div>
      </div>
    </div>
  </div>