    <div id="header">
        <h1 id="helloHeading">Loading...</h1>
        <button id="search" onclick="join_match()">Search game</button>
        <button id="sala" onclick="join_match_sala()">Search in a sala</button>
        <button id="searchIA" onclick="join_IA()">Play with IA</button>
        <button id="obs" onclick="obs_match()">Observate a match</button>
        <label for="textbox">Enter sala:</label>
        <input type="text" id="textbox" name="textbox">
    </div>
    <div id="app">
        <section>
            <div class="container">
              <div style="text-align: center;"><h1> Let's Fight</h1></div>
              <div class="card" id="gameContainer" class="aspect-ratio-1200-750">
                <canvas id="gameCanvas" width="1200" height="750", style="background-color: darkgray;", ali></canvas>
              </div>
            </div>
        </section>
    </div>