<link rel="stylesheet" href="/css/tournament.css">
<div id="video-container">
    <video autoplay muted loop id="video-background">
      <source src="/imgs/game_video.mov" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </div>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="text-center" style="text-align: center;padding: 20px;">
          <h1 style="font-size: 60px;">{{text6}}</h1>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <a class="navlink">
          <button class="btn btn-warning tac" style="width: 300px;" onclick="create_match()">{{text7}}</button>
          </a>
        </div>
      </div>
      <div class="col-md-6 bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <a class="navlink" href="/game/join_game">
            <button class="btn btn-warning tac" style="width: 300px;">{{text8}}</button>
            </a>
        </div>
      </div>
    </div>
  </div>