<!-- banner -->
<section class="section pb-0">
   <div class="container">
      <div class="columns is-justify-content-space-between is-align-items-center">
         <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h1 class="mb-4">Welcome to my final project for 42 school</h1>
            <p class="mb-4">"Crazy Pong is a tribute to the classic Atari Pong game, This version takes the original gameplay and adds a twist with new features such as power-ups, obstacles, and multiple levels. The user interface has also been updated for a modern look and feel. Whether you're a fan of the original Pong or just looking for a fun and challenging game, Crazy Pong is sure to provide hours of entertainment. Try it out now and see if you have what it takes to beat the high score!"</p>
           
         </div>
         <button [routerLink]="['/login']">Login</button>
         <div class="column is-4-desktop hidden-on-tablet">
            <img src="assets/Pong.jpeg" alt="illustration" class="img-fluid">
         </div>
      </div>
   </div>
</section>
<!-- /banner -->

<!-- topics -->
<!-- <section class="section pb-0">
   <div class="container">
      <h2 class="section-title">Bcolumnsse Your Topics</h2>
      <div class="columns is-multiline"> -->
         <!-- topic -->
<!--          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height" style="height: 290.188px;">
               <div class="card-body">
                  <i class="card-icon ti-panel mb-5"></i>
                  <h3 class="card-title h4">Basic Startup</h3>
                  <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
                  <a href="list.html" class="stretched-link"></a>
               </div>
            </div>
         </div> -->
         <!-- topic -->
<!--          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height" style="height: 290.188px;">
               <div class="card-body">
                  <i class="card-icon ti-credit-card mb-5"></i>
                  <h3 class="card-title h4">Account Bill</h3>
                  <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
                  <a href="list.html" class="stretched-link"></a>
               </div>
            </div>
         </div> -->
         <!-- topic -->
<!--          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height" style="height: 290.188px;">
               <div class="card-body">
                  <i class="card-icon ti-package mb-5"></i>
                  <h3 class="card-title h4">Our Features</h3>
                  <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
                  <a href="list.html" class="stretched-link"></a>
               </div>
            </div>
         </div> -->
         <!-- topic -->
<!--          <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height" style="">
               <div class="card-body">
                  <i class="card-icon ti-settings mb-5"></i>
                  <h3 class="card-title h4">Theme Facility</h3>
                  <p class="card-text">Cras at dolor eget urna varius faucibus tempus in elit dolor sit amet.</p>
                  <a href="list.html" class="stretched-link"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
<!-- /topics -->

<!-- faq -->
<!-- <section class="section pb-0">
   <div class="container">
      <h2 class="section-title">Mostly Asked Questions</h2>
      <div class="columns masonry-wrapper" style="position: relative; height: 1117.56px;"> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 0px; top: 0px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Will updates also be free?</h3>
                  <p class="card-text content">Lorem, <a href="https://examplesite.com">link</a> <em>ipsum</em> dolor
                     sit amet consectetur adipisicing elit. Cumque praesentium nisi officiis maiores quia sapiente totam
                     omnis vel sequi corporis ipsa incidunt reprehenderit recusandae maxime perspiciatis iste placeat
                     architecto, mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore reprehenderit illo,
                     unde cum omnis vel sed temporibus. mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore
                     reprehenderit illo, unde cum
                     omnis vel sed temporibus. mollitia delectus ut ab quibusdam. Magnam cumque numquam tempore
                     reprehenderit
                     illo, unde cum omnis vel sed temporibus.</p>
               </div>
            </div>
         </div> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 480px; top: 0px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Discounts for students and Non Profit Organizations?</h3>
                  <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                     praesentium
                     nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit
                     recusandae
                     maxime perspiciatis iste placeat architecto.</p>
               </div>
            </div>
         </div> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 480px; top: 320.781px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">I need something unique, Can you make it?</h3>
                  <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                     praesentium
                     nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit
                     recusandae
                     maxime perspiciatis iste placeat architecto, mollitia delectus <a href="https://examplesite.com">link</a>
                     ut ab quibusdam. Magnam cumque numquam tempore reprehenderit illo, unde cum omnis vel sed
                     temporibus,
                     repudiandae impedit nam ad enim porro, qui labore fugiat quod suscipit fuga necessitatibus.
                     Perferendis,
                     ipsum?</p>
               </div>
            </div>
         </div> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 0px; top: 528.391px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Is there any documentation and support?</h3>
                  <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                     praesentium
                     nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit
                     recusandae
                     maxime perspiciatis iste placeat architecto, mollitia delectus <a href="https://examplesite.com">link</a>
                     ut ab quibusdam.</p>
               </div>
            </div>
         </div> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 480px; top: 771.562px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Any refunds?</h3>
                  <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                     praesentium
                     nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt reprehenderit
                     recusandae
                     maxime perspiciatis iste placeat architecto.</p>
               </div>
            </div>
         </div> -->
         <!-- faq item -->
<!--          <div class="column is-6-desktop" style="position: absolute; left: 0px; top: 875.172px;">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">What is a product key?</h3>
                  <p class="card-text content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
                     praesentium
                     nisi officiis maiores quia sapiente totam omnis vel sequi corporis ipsa incidunt</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
<!-- /faq -->

<!-- call to action -->
<!-- <section class="section">
   <div class="container">
      <div class="columns is-align-items-center">
         <div class="column is-4-desktop has-text-centered hidden-on-tablet">
            <img src="images/cta-illustration.jpg" class="img-fluid" alt="">
         </div>
         <div class="column is-8-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h2 class="mb-3">Still Didn’t Find Your Answer?</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam <br> nonumy eirmod tempor invidunt ut
               labore et dolore magna aliquyam</p>
            <a href="contact.html" class="btn btn-primary">Submit a ticket</a>
         </div>
      </div>
   </div>
</section> -->
<!-- /call to action -->
