    <style>
      .auth-content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
      }

      .auth-container {
          max-width: 80%;
          width: 80%;
          padding: 3vw;
          background-color: #343a40;
          border-radius: 10px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .code-input {
          width: 8vw;
          height: 8vw;
          text-align: center;
          margin: 1vw;
          font-size: 3.5vw;
          border: 1px solid #ffc107;
          border-radius: 5px;
          color: #000;
      }

      .code-input:focus {
          outline: none;
          border-color: #ffc107;
          box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
      }

      .button-center {
          display: flex;
          justify-content: center;
          margin-top: 3vw;
      }

      .btn-warning {
          padding: 2vw 4vw;
          font-size: 3vw;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: #ffc107;
          color: #fff;
      }

      .btn-warning:hover {
          background-color: #e0a800;
      }

      .input-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1vw;
          margin-bottom: 2vw;
      }
      @media (min-width: 1200px) {
    .auth-container {
        max-width: 1200px;
        width: 100%;
        padding: 20px;
    }

    .code-input {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .btn-warning {
        padding: 20px 20px;
        font-size: 35px; 
    }
}

  </style>


    <div class="auth-content">
      <div class="auth-container bg-dark">
          <form id="twoFactorAuthForm" onsubmit="checkAuthCode(event)">
            <h1 style="color: #f5c344;">Enter the code you have received by email</h1>
              <div class="input-row">
                  <input class="code-input" type="text" maxlength="1" required autofocus>
                  <input class="code-input" type="text" maxlength="1" required>
                  <input class="code-input" type="text" maxlength="1" required>
                  <input class="code-input" type="text" maxlength="1" required>
                  <input class="code-input" type="text" maxlength="1" required>
                  <input class="code-input" type="text" maxlength="1" required>
              </div>
              <div class="button-center">
                  <button class="btn-warning" type="submit" o>Submit</button>
              </div>
          </form>
      </div>
  </div>
 