    <div class="container-login">  
      <div class="container2">
        <form class="form" id="login" onsubmit="return send_login_form(event)">
            <h1 class="form__title" style="color: #FFB300;">Login</h1>
            {% if new %}
                <div class="form__message form__message--success">Account successfully created!</div>
            {% else %}
                <div class="form__message form__message--error"></div>
            {% endif %}
            <div class="form__input-group">
                <input type="text" name="Username" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" name="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit" style="background-color: #FF8F00;">Continue</button>
            <p class="form__text">
                <a class="navlink form__link" href="/users/register" id="linkCreateAccount" style="color:#FFB300;">Don't have an account? Create account</a>
            </p>
        </form>
      </div>
    </div>