<section class="section pb-0">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-4 d-none d-md-block">
                <div class="text-center">
                    <h1 class="mb-4">Logging to Crazy-Pong</h1>
                    <a href="/users/login/42identify" class="navlink btn btn-primary btn-lg mb-2">Login with 42</a>
                    <br>
                    <a href="/users/login/identify" class="navlink btn btn-primary btn-lg">Login</a><br><p>Not registered yet? click here to <a href="#">open an account</a></p>
                </div>
            </div>
            <div class="col-7">    
                <p class="mb-4">"Crazy Pong is a tribute to the classic Atari Pong game, This version takes the
                        original gameplay and adds a twist with new features such as power-ups, obstacles, and multiple
                        levels. The user interface has also been updated for a modern look and feel. Whether you're a
                        fan of the original Pong or just looking for a fun and challenging game, Crazy Pong is sure to
                        provide hours of entertainment. Try it out now and see if you have what it takes to beat the high
                        score!"
                </p>
            </div>
        </div>
    </div>
</section>