<link rel="stylesheet" href="/css/gstyles2.css">
    <div class="container-login">  
      <div class="container2">
            <h1 class="form__title">Create Account</h1>
            <a href="/users/login/identify" class="navlink form__button" type="submit">Login account</a>
            <a href="/users/login/42identify" class="navlink form__button" type="submit">Login 42 account</a>
            <a href="/users/register" class="navlink form__button" type="submit">Register account</a>
      </div>
    </div>