.DS_Store
a.out
*.o
*.gcda
*.gcno
*.gcov
*.d
*.ignore
.vscode/
bin/
uncrustify-targets.txt
*.log
coverage.info
rep/
*.swp
.env
*.png
!*back/crazy_pong/media/media/avatars/Pingu_default.png
*/crazy-pong.com_ssl_certificate.cer
*/crazy-pong.com_private_key.key
