version: '3'
services:
  frontend_vanilla:
    build:
      context: ./front
    container_name: front
    ports:
      - "80:80"

  backend_django:
    build:
      context: ./back
    container_name: back
    ports:
      - "8000:8000"
    depends_on:
      - db_postgres
    volumes:
      - backend_data:/usr/src/app/static #aqui deben ir archivos estaticos img o cosas asi que no se carguen/actualicen etc
      - backend_data:/usr/src/app/media #aqui archivos que se puedan cargar en tiempo de ejecucuion ejemplo : imagenes de foto perfil

  db_postgres:
    image: postgres:alpine3.18
    container_name: database_postgre
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: transcendence
    volumes:
      - postgres_data:/var/lib/postgresql/data

  postgres_admin2: #In some moment we 
     image: dpage/pgadmin4:6.16
     depends_on: 
       - postgres
     environment:
       PGADMIN_DEFAULT_EMAIL: marc@arza.com
       PGADMIN_DEFAULT_PASSWORD: 12345
     ports:
       - 5050:80
     networks:
       - backend

volumes:
  backend_data:
  postgres_data:
