<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content profile-card" *ngIf="user">
            <figure class="image is-128x128 is-centered">
              <img class="is-rounded" [src]="user.avatar ? 'http://crazy-pong.com:3000/avatar/' + user.avatar : 'assets/avatar.jpg'">
            </figure>
            <p class="title is-4 has-text-centered">{{user.name}}</p>
            <div class="content">
              <p>Rank Position: {{userRank}}</p>
              <p>Player Score: {{user.score}}</p>
              <p>Played Games: {{user.played}}</p>
              <p>Total Wins: {{user.wins}}</p>
              <p>Total Losses: {{user.losses}}</p>
            </div>
            <a class="button is-primary" routerLink="/profile/edit">Edit Profile</a>
            <a class="button is-danger" routerLink="/security/settings">Security</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" *ngIf="archivements?.length !== 0">
          <div class="card-content" >
            <p class="title is-5">Achievements</p>
            <div class="columns is-multiline">
              <div class="column is-one-quarter" *ngIf="archivements?.includes(1)">
                <div class="achievement">
                  <img src="/assets/archivement1.png" title="You played your first match">
                </div>
              </div>
              <div class="column is-one-quarter" *ngIf="archivements?.includes(2)">
                <div class="achievement">
                  <img src="/assets/archivement2.png" title="In you first match, you ended whit a victory">
                </div>
              </div>
              <div class="column is-one-quarter" *ngIf="archivements?.includes(3)">
                <div class="achievement">
                  <img src="/assets/archivement3.png" title="You played 10 matches">
                </div>
              </div>
              <div class="column is-one-quarter" *ngIf="archivements?.includes(4)">
                <div class="achievement">
                  <img src="/assets/archivement4.png" title="You played 50 matches">
                </div>
              </div>
              <div class="column is-one-quarter" *ngIf="archivements?.includes(4)">
                <div class="achievement">
                  <img src="/assets/archivement5.png" title="You won a match without let other player score">
                </div>
              </div>
              <!-- Add more columns for each achievement -->
            </div>
          </div>
        </div>
        <div class="card" *ngIf="archivements?.length === 0">
          <div class="card-content" >
              <p>No archivements won yet</p>
          </div>
        </div>
        <br><br>
        <div class="card">
          <div class="card-content">
            <p class="title is-5">Played Matches History</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Match #</th>
                  <th>Player1</th>
                  <th>Player2</th>
                  <th>Score 1</th>
                  <th>Score 2</th>
                  <th>Winner</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let match of userMatches">
                  <td>{{match.id}}</td>
                  <td>{{match.player1.name}}</td>
                  <td>{{match.player2.name}}</td>
                  <td>{{match.player1Score}}</td>
                  <td>{{match.player2Score}}</td>
                  <td>
                    {{ match.winner === 0 ? '-' : match.winner == match.player1.id ? match.player1.name : match.player2.name }}
                  </td>
                  <td>
                    <ng-container *ngIf="match.status === 0">
                      <a routerLink="/game/match/{{match.id}}">In play</a>
                    </ng-container>
                    <ng-container *ngIf="match.status === 1">
                      Finished
                    </ng-container>
                  </td>
                </tr>
                <!-- Add more rows for the remaining matches -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
