<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content" *ngIf="user">
            <figure class="image is-128x128 is-centered">
              <img class="is-rounded" src="assets/avatar.jpg">
            </figure>
            <p class="title is-4 has-text-centered">{{user.name}}</p>
            <div class="content">
              <p>Played Games: {{user.played}}</p>
              <p>Total Wins: {{user.wins}}</p>
              <p>Total Losses: {{user.losses}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">Last 10 Played Matches</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Match #</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Won</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lost</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Won</td>
                </tr>
                <!-- Add more rows for the remaining matches -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
