
<link rel="stylesheet" href="/css/aboutus.css">
   <div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="border-radius: 10px;">
            <div class="icons">
                <img src="/imgs/42logo.svg" alt="Logo 1">
                <img src="/imgs/invaders.png">
            </div>
            <div class="student-content">
                <div class="student-img" style="border: 3px solid #87c55b;">
                    <img src="/imgs/jferrer-.jpg">
                </div>
                <div class="student-txt" style="color: #87c55b;">
                    <h3>Jaime Ferrer</h3>
                </div>
                <div class="logos">
                    <a href="https://github.com/jferrer-l" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jaime-ferrer-luengo/" target="_blank">
                        <img src="/imgs/linkedin.png" alt="Logo 2">
                    </a>
                    <a href="https://profile.intra.42.fr/users/jferrer-" target="_blank">
                        <img src="/imgs/42logo.png" alt="Logo 1">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="border-radius: 10px;">
            <div class="icons">
                <img src="/imgs/42logo.svg" alt="Logo 1">
                <img src="/imgs/pacman.png">
            </div>
            <div class="student-content">
                <div class="student-img" style="border: 3px solid #f2b65a;">
                    <img src="/imgs/marza-ga.jpg">
                </div>
                <div class="student-txt"  style="color: #f2b65a;">
                    <h3>Marc Arza</h3>
                </div>
                <div class="logos">
                    <a href="https://github.com/CodeMarc42" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/marcarzagarcia/" target="_blank">
                        <img src="/imgs/linkedin.png" alt="Logo 2">
                    </a>
                    <a href="https://profile.intra.42.fr/users/marza-ga" target="_blank">
                        <img src="/imgs/42logo.png" alt="Logo 1">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="border-radius: 10px;">
            <div class="icons">
                <img src="/imgs/42logo.svg" alt="Logo 1">
                <img src="/imgs/tetris.png">
            </div>
            <div class="student-content">
                <div class="student-img" style="border: 3px solid #6b6cf5;">
                    <img src="/imgs/gemartin.jpg">
                </div>
                <div class="student-txt" style="color: #6b6cf5;">
                    <h3>Gerard Martinez</h3>
                </div>
                <div class="logos">
                    <a href="https://github.com/gemartin99" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gemartin99/" target="_blank">
                        <img src="/imgs/linkedin.png" alt="Logo 2">
                    </a>
                    <a href="https://profile.intra.42.fr/users/gemartin" target="_blank">
                        <img src="/imgs/42logo.png" alt="Logo 1">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="border-radius: 10px;">
            <div class="icons">
                <img src="/imgs/42logo.svg" alt="Logo 1">
                <img src="/imgs/invaders.png">
            </div>
            <div class="student-content">
                <div class="student-img" style="border: 3px solid #87c55b;">
                    <img src="/imgs/jareste-.png">
                </div>
                <div class="student-txt" style="color: #87c55b;">
                    <h3>Joan Areste</h3>
                </div>
                <div class="logos">
                    <a href="https://github.com/jareste" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/joan-arest%C3%A9-443b79217/" target="_blank">
                        <img src="/imgs/linkedin.png" alt="Logo 2">
                    </a>
                    <a href="https://profile.intra.42.fr/users/jareste-" target="_blank">
                        <img src="/imgs/42logo.png" alt="Logo 1">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="border-radius: 10px;">
            <div class="icons">
                <img src="/imgs/42logo.svg" alt="Logo 1">
                <img src="/imgs/tetris.png">
            </div>
            <div class="student-content">
                <div class="student-img" style="border: 3px solid #6b6cf5;">
                    <img src="/imgs/baltes-g.jpg">
                </div>
                <div class="student-txt" style="color: #6b6cf5;">
                    <h3>Biel Altés </h3>
                </div>
                <div class="logos">
                    <a href="https://github.com/bielaltes" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/biel-altes-569799267/" target="_blank">
                        <img src="/imgs/linkedin.png" alt="Logo 2">
                    </a>
                    <a href="https://profile.intra.42.fr/users/baltes-g" target="_blank">
                        <img src="/imgs/42logo.png" alt="Logo 1">
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div>