<nav class="navbar is-sticky-top navigation" role="navigation" aria-label="main navigation">
   <div class="container">
         <div class="navbar-brand">
            <a class="navbar-item" href="index.html" class="header_logo">
               <img class="img-fluid" src="assets/pong_logo.png" alt="godocs" width="155px">
               <span>CRAZY PONG</span>
            </a>
      
            <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
            </a>
         </div>
      
         <div id="navbar-links" class="navbar-menu">
            <div class="navbar-start ml-auto">
               <a class="navbar-item" routerLink="">Home</a>
               <a class="navbar-item" routerLink="/users">Users</a>
               <a class="navbar-item" routerLink="/game">Game</a>
               <a class="navbar-item" routerLink="/chat">Chat</a>
            </div>
      
            <div class="navbar-end ml-0">
               <div class="navbar-item py-0">
                  <a class="btn btn-sm btn-outline-primary ml-4" routerLink="/profile">Profile</a>
                  <a class="btn btn-sm btn-primary ml-4" routerLink="/login">Login</a>
               </div>
            </div>
         </div>
   </div>
</nav>