<section class="section">
  <div class="container">
    <div style="text-align:center">
      <h1>
        Game Setting
      </h1>
    </div>

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Customize Game Map</p>
      </header>
      <div class="card-content">
        <form>
          <div class="columns is-multiline is-centered">
            <div class="column is-narrow">
              <label class="radio">
                <img src="assets/court_0.png">
                <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="0">
                Classic court
              </label>
            </div>
            <div class="column is-narrow">
              <label class="radio">
                <img src="assets/court_1.png">
                <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="1">
                Grass court
              </label>
            </div>
            <div class="column is-narrow">
              <label class="radio">
                <img src="assets/court_2.png">
                <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="2">
                Clay court
              </label>
            </div>
            <div class="column is-narrow">
              <label class="radio">
                <img src="assets/court_3.png">
                <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="3">
                Concrete court
              </label>
            </div>
          </div>
          <button type="button" (click)="saveGameOption()">Save</button>
        </form>
      </div>
    </div>
  </div>
</section>
