<section class="section">
  <div class="container">
    <div style="text-align:center">
      <h1>
        Game Setting
      </h1>
    </div>

    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Customize Game Map</p>
      </header>
      <div class="card-content">
        <form>
          <div class="columns is-multiline is-centered is-desktop">
            <div class="column is-6 is-narrow">
              <label class="radio">
                <img src="assets/court_0.png">
                <div class="court-option has-text-centered">
                  <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="0">
                  Classic court
              </div>
              </label>
            </div>
            <div class="column is-6 is-narrow">
              <label class="radio">
                <img src="assets/court_1.png">
                <div class="court-option has-text-centered">
                  <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="1">
                  Grass court
              </div>
              </label>
            </div>
            <div class="column is-6 is-narrow">
              <label class="radio">
                <img src="assets/court_2.png">
                <div class="court-option has-text-centered">
                  <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="2">
                  Clay court
              </div>
              </label>
            </div>
            <div class="column is-6 is-narrow">
              <label class="radio">
                <img src="assets/court_3.png">
                <div class="court-option has-text-centered">
                  <input type="radio" name="game-map" [(ngModel)]="selectedOption" value="3">
                  Concrete court
              </div>
              </label>
            </div>
          </div>
          <div class="has-text-centered">
            <button type="button" class="button is-success" (click)="saveGameOption()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>