<style>

.loader-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #f5c344;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animacion ruedita */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>
<link rel="stylesheet" href="/css/tournament.css">
<div id="video-container">
    <video autoplay muted loop id="video-background">
      <source src="/imgs/game_video.mov" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </div>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="text-center" style="text-align: center;padding: 20px;">
          <h1 style="font-size: 60px;">{{text14}}</h1>
      </div>
      <div class="bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4" style="padding: 50px;">
          <button class="btn btn-warning tac" style="width: 400px;" id="lobbyCode" onclick="myFunction()">{{text15}}: x6Yk9</button>
        </div>
      </div>
      <div class="bg-gray d-flex flex-column align-items-center justify-content-center">
            <h2 style="font-size: 20px" id="joined"></h1>
      </div>
      <div class="text-center" style="text-align: center;padding: 20px; display: flex; align-items: center; justify-content: center;margin-top: 300px;">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
        <h1 style="font-size: 50px">1/8 {{text16}}</h1>
      </div>
      <div class="bg-gray d-flex flex-column align-items-center justify-content-center">
        <div class="text-center mt-md-4">
          <button class="btn btn-warning tac" style="width: 200px;" onclick="startTournament()">{{text17}}</button>
          <button class="btn btn-warning tac" style="width: 200px;"onclick="updateLobby()">{{text18}}</button>

        </div>
      </div>
    </div>
  </div>

  <script>
    function updateScript() {
        console.log("This function is called every second");
        updateLobby();
    }

    // Cridar la funció cada segon (1000 mil·lisegons)
    setInterval(updateScript, 1000);
  </script>

  <script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("lobbyCode");
    
      // Select the text field
      copyText.select();
      copyText.setSelectionRange(13, 99999); // For mobile devices
    
       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
    
      // Alert the copied text
      alert("Copied the text: " + copyText.value);
    }
  </script>


