.accordion {
  max-width: 1500px;
  margin: 0 auto;
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius: 0rem;
}

.accordion-item {
  background-color: #343a40;
  margin: 10px 10px;
  padding: 10px;

}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  background-color: #f5c344;
}

.accordion-content {
  display: none;
  padding: 10px;
  color: white !important;
}

.arrowww {
  float: right;
}

.active {
  display: block;
}