.qr-area {
    border: 2px dashed #f5c344;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .container2 {
    margin: 2rem auto;
    padding: 2rem auto;
  }

  /* Estilos para el centrado y tamaño del div */


.enlarged {
  width: 70%; /* Modifica el porcentaje para ajustar el ancho del div */
  max-width: 500px; /* Cambia este valor para establecer un ancho máximo */
  height: 70%; /* Modifica el porcentaje para ajustar la altura del div */
  max-height: 500px; /* Cambia este valor para establecer una altura máxima */
}

