<section class="section pb-0">
   <div class="container">
      <div style="text-align:center">
        <h1>
          Friends
        </h1>
      </div>
      <router-outlet></router-outlet>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Search New Friends</p>
        </header>
        <div class="card-content">
          <form #searchForm="ngForm" (ngSubmit)="searchUsers()">
            <div class="field has-addons">
                <div class="control has-icons-left has-icons-right is-expanded">
                    <input type="text" class="input" id="searchTerm" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search User by Name" required>
                </div>
                <p class="control">
                    <button type="submit" class="button is-info">Search</button>
                </p>
            </div>
          </form>
          <ul>
            <li *ngFor="let user of searchSource">
              {{ user.name }}
              <button type="button" class="button is-small is-primary" (click)="addFriend(user)">Add friend</button>
            </li>
          </ul>
        </div>
      </div>
      <br><br>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">My Friends List</p>
        </header>
        <div class="card-content">
          <table class="table is-striped is-hoverable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Avatar</th>
                <th>Twofactor</th>
                <th>Score</th>
                <th>Played</th>
                <th>Wins</th>
                <th>Losses</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSource">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.password}}</td>
                <td>{{user.avatar}}</td>
                <td>{{user.twofactor}}</td>
                <td>{{user.score}}</td>
                <td>{{user.played}}</td>
                <td>{{user.wins}}</td>
                <td>{{user.losses}}</td>
                <td>
                  <button class="button is-danger" (click)="removeFriend(user.id)">Remove Friend</button>
                  <!-- <button class="button is-info" (click)="selectUser(user)">Select User</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

<!--       <div class="card">
        <header class="card-header">
          <p class="card-header-title">Create a User</p>
        </header>
        <div class="card-content">
          <form [formGroup]="checkoutForm" (ngSubmit)="createUser(checkoutForm.value)" class="form" style="width: 100%; padding: 5px;">

            <div class="field">
              <input class="input" formControlName="name" type="text" placeholder="Name" name="name" required>
            </div>
            <div class="field">
              <input class="input" formControlName="password" type="text" placeholder="Password" name="password" required>
            </div> 
            <div class="field">
              <input class="input" formControlName="avatar" type="text" placeholder="Avatar" name="avatar" required>
            </div>   
            <div class="field">
              <input class="input" formControlName="score" type="number" placeholder="Score" name="score" required>
            </div>   
            <div class="field">
              <input class="input" formControlName="played" type="number" placeholder="Played" name="played" required>
            </div>
            <div class="field">
              <input class="input" formControlName="wins" type="number" placeholder="Wins" name="wins" required>
            </div>
            <div class="field">
              <input class="input" formControlName="losses" type="number" placeholder="Losses" name="losses" required>
            </div>
            <div class="field">
              <label class="checkbox">
                <input formControlName="twofactor" type="checkbox" name="twofactor">
                TwoFactor Auth
              </label>
            </div>
            <div class="card-footer">
                <button class="button is-primary" type="submit">New..</button>
            </div>   
          </form>

        </div>

      </div> -->
  </div>
</section>