html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: var(--bs-body-font-family);
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding: 150px 0 50px 0;
}

.swiper-slide {
    width: 500px;
    height: 800px;
    background-color: #343a40;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons img {
    width: 120px;
}

.student-content {
    display: flex;
    flex-direction: column; /* Cambia la disposición de los elementos a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
}

.student-txt {
    flex-basis: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.student-txt h3 {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.student-img {
    flex-basis: 50%;
    text-align: right;
}

.student-img img {
    width: 300px;
    height: auto;
    justify-content: center;
    border: 3px solid #f5c344;
}

.logos {
    display: flex;
    justify-content: space-around; /* Distribuye los logos equitativamente en el contenedor */
    align-items: center; /* Centra verticalmente los logos */
    margin-top: 10px; /* Margen superior */
    
  }
  
  .logos a {
    text-decoration: none; /* Quita la decoración del enlace */
  }

  .logos a + a {
    margin-left: 50px; /* Añade un margen entre los enlaces */
  }
  
  .logos img {
    width: 50px; /* Tamaño de las imágenes */
    height: auto;
  }

  .bi-github {
    font-size: 3em; /* Tamaño personalizado */
    text-decoration: none;
    color: #000; /* Cambia el color del ícono de GitHub */
  }
  
