    <div class="container-login">  
      <div class="container2">
            <h1 class="form__title">Security Settings</h1>
            <p align="center">Two factor deactivated</p>
            {% if not user.mail2FA and not user.google2FA %}
            <div class="form__buttons-container">
              <a href="/twoFA/google2FA" class="navlink form__button">Set Google 2Factor</a>
              <a href="/twoFA/set-mail2FA" class="navlink form__button">Set Email 2Factor</a>
            </div>
            {% else %}
            <div class="form-group">
              <button onclick="unsetTwoFactor()" class="btn btn-warning">Disable Two Factor Auth</button>
             </div>
            {% endif %}
      </div>
    </div>