<style type="text/css">
.card {
    border: 0px solid #000 !important;
} 
.card-body {
    border: 1px solid #000 !important;
    color: #f5c344 !important; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
} 
</style>
<div class="text-center" style="text-align: center;padding: 20px;">
          <h1 style="font-size: 60px;">{{user.name}} Profile</h1>
</div>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body profile-card bg-dark">
            <div class="text-center">
              <img src="/imgs/profile_pic.jpg" alt="Profile pic" class="img-fluid rounded-circle" style="border: 2px dashed #f5c344; width: 50%;">
            </div>
            <h4 class="card-title text-center">{{user.name}}</h4>
            <div class="content">
              <p>Rank Position: {{userRank}}</p>
              <p>Player Score: {{user.score}}</p>
              <p>Played Games: {{user.played}}</p>
              <p>Played Games: {{total_played_games}}</p>
              <p>Total Wins: {{user.wins}}</p>
              <p>Total Losses: {{user.losses}}</p>
            </div>
            <a class="navlink btn btn-primary" href="/profile/edit" title="Edit Profile"><i class="fas fa-user-gear"></i></a>
            <a class="navlink btn btn-danger" href="/profile/twofactor" title="Security"><i class="fas fa-user-lock"></i></a>
            <a class="btn btn-info" href="/game/settings" title="Game Settings"><i class="fas fa-gamepad"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- <div class="card">
          <div class="card-body bg-dark" >
            <h5 class="card-title">Achievements</h5>
            <div class="row">
              <div class="col-md-2" *ngIf="archivements?.includes(1)">
                <div class="achievement">
                  <img src="/assets/archivement1.png" class="achievements" title="You played your first match" alt="Achievement 1">
                </div>
              </div>

            </div>
          </div>
        </div> -->
        <br><br>
        <div class="card">
          <div class="card-body bg-dark">
            <h5 class="card-title">Played Matches History</h5>
            <table class="table table-bordered table-warning">
              <thead>
                <tr>
                  <th>Match #</th>
                  <th>Player1</th>
                  <th>Player2</th>
                  <th>Score 1</th>
                  <th>Score 2</th>
                  <th>Winner</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for match in last_5_matches %}
                  <tr>
                    <td>{{ match.match_id }}</td>
                    <td>{{ match.player1 }}</td>
                    <td>{{ match.player2 }}</td>
                    <td>{{ match.player1_score }}</td>
                    <td>{{ match.player2_score }}</td>
                    <td>{{ match.match_winner }}</td>
                    <td>Finished</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>