<link rel="stylesheet" href="/css/settings_profile.css">

    <div class="container-fluid" style="padding: 50px;">
      <div class="row bg-dark" style="border-radius: 10px;">
        <div class="col-12">
          <h1 style="text-align: center; color: #f5c344;margin-top: 10px;">Edit Profile Information</h1>
          <div class="form-floating" style="margin: 10px 5px;">
            <input type="username" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating" style="margin: 10px 5px;">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Current Password</label>
          </div>
          <div class="form-floating" style="margin: 10px 5px;">
            <input type="password" class="form-control" id="floatingNewPassword" placeholder="New Password">
            <label for="floatingNewPassword">New Password</label>
          </div>
          <h1 style="text-align: center; padding: 10px; color: #f5c344;">Profile Picture</h1>
          <div class="drop-area text-center" id="dropArea" onclick="handleClick()">
            <h2 class="text-drop" style="color: #f5c344;">Click to select an image</h2>
          </div>
          <button type="button" class="btn btn-warning mt-3 mx-auto d-block" style="padding: 10px;margin-bottom: 10px;">Save</button>
        </div>
      </div>
    </div>

    

   
    <script>
      function handleClick() {
        document.getElementById('fileInput').click();
      }
  
      function handleFileSelect(event) {
        const dropArea = document.getElementById('dropArea');
        const file = event.target.files[0];
        const imageType = /^image\//;
  
        if (file.type.match(imageType)) {
          const reader = new FileReader();
  
          reader.onload = function (e) {
            dropArea.innerHTML = `<img src="${e.target.result}" alt="Imagen cargada" />`;
          };
  
          reader.readAsDataURL(file);
        } else {
          dropArea.textContent = 'Por favor, selecciona un archivo de imagen válido.';
        }
      }
    </script>
  <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
