<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div *ngIf="matchChallange && matchChallange.id_player1 === user.id" class="notification is-challange">
            Player {{matchChallange.name1}} <strong>Challange you</strong> for a classic crazy-pong game &nbsp;<button (click)="acceptChallange()" class="button is-small is-primary">Accept</button>&nbsp;
            <button (click)="cancelChallange()" class="button is-small is-danger">Cancel</button>
        </div>
        <div *ngIf="matchChallange && matchChallange.id_player1 !== user.id" class="notification is-challange">
            You <strong>Challanged</strong> {{matchChallange.name2}} for a classic crazy-pong game &nbsp;
            <button (click)="cancelChallange()" class="button is-small is-danger">Cancel</button>
        </div>
        <div class="columns">
          <div class="column is-one-third">
            <div>
               <span style="display: flex; flex-direction: row; align-items: baseline;">
                <h2>My Chatrooms</h2>
                <!-- <small style="margin-left:10px;">Logged in as {{user?.name}}</small> -->
              </span>
              <button (click)="openModalJoinRoom()" class="button is-primary">Join Room</button>
              <button (click)="openModalCreateRoom()" class="button is-link">Create Room</button>
              <button (click)="showManual()" class="button manual" title="Show Chat Manaual"><i class="fa-solid fa-book"></i></button>
            </div>
            <div *ngIf="(rooms$|async)?.items?.length > 0;" class="rooms">
                 <mat-selection-list [multiple]="false" (selectionChange)="onSelectRoom($event)">
                    <mat-list-option *ngFor="let room of (rooms$ | async)?.items" [value]="room">
                      Name: {{room.name}} Id: {{room.id}}
                      <mat-divider></mat-divider>
                    </mat-list-option>
                  </mat-selection-list>
                  <mat-paginator
                    [length]="(rooms$ | async)?.meta?.totalItems"
                    [pageIndex]="(rooms$ | async)?.meta?.currentPage"
                    [pageSize]="(rooms$ | async)?.meta?.itemsPerPage" (page)="onPaginateRooms($event)"
                    (page)="onPaginateRooms($event)"
                    [pageSizeOptions]="[10,25,50]"
                    [hidePageSize]="true"
                  ></mat-paginator>
            </div>
          </div>
          <div class="chatroom column is-two-third">
            <app-chat-room [chatRoom]="selectedRoom"></app-chat-room>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container manual-box" *ngIf="chat_manual">
  <div class="card">
    <div class="card-content">
      <button (click)="close_manual()" class="button is-danger is-small close_manual"><i class="fa-regular fa-circle-xmark"></i> </button>
      <h3 class="title is-3">Chat Manual</h3>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Command</th>
            <th>Arguments</th>
            <th>Explanation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/ban</td>
            <td><em>username</em></td>
            <td>Bans a user from the chat.</td>
          </tr>
          <tr>
            <td>/mute</td>
            <td><em>username</em></td>
            <td>Mutes a user in the chat.</td>
          </tr>
          <tr>
            <td>/setpwd</td>
            <td><em>password</em></td>
            <td>Sets a password to enter the chat room.</td>
          </tr>
          <tr>
            <td>/unsetpwd</td>
            <td></td>
            <td>Removes the password from the chat room.</td>
          </tr>
          <tr>
            <td>/setop</td>
            <td><em>username</em></td>
            <td>Sets a user as a chat room operator.</td>
          </tr>
          <tr>
            <td>/unsetop</td>
            <td><em>username</em></td>
            <td>Removes a user from the chat room operators list.</td>
          </tr>
          <tr>
            <td>/join</td>
            <td><em>channelname password</em></td>
            <td>Joins a specific chat room.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

