<section>
		<div class="container" *ngIf="gamerules">
			<div style="text-align: center;"><h2> Game Instructions:</h2></div>
			<div class="card" style="
			    text-align: center;
			    padding: 10px;
			">
			<button (click)="closeRules()" class="button is-danger is-small close_button"><i class="fa-regular fa-circle-xmark"></i></button>
			<ul><li>First player in arrive to 12 points wons the match</li><li>User Arrow keys to move up and down</li><li>Be fast for when ball starts after a point ;)</li><li><strong>Good luck and enjoy!</strong></li></ul>
			</div>
		</div>
		<br><br>
		<div class="container">
			<div style="text-align: center;"><h1> Let's Fight</h1></div>
			<div class="card">
				<!-- {{title | async}} -->
				<figure class="image is-16by9">
				<button *ngIf="!matchmaking" (click)="viewRules()" class="button is-info" style="
				    position: absolute;
				    top: -90px;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 9;
				    margin: auto;
				    width: 30%;
				    min-width: 120px;
				">Game Rules</button>		  
				<button *ngIf="!matchmaking" (click)="matchMaking()" class="button is-info" style="
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 9;
				    margin: auto;
				    width: 30%;
				    min-width: 120px;
				">MatchMaking</button>
				<button *ngIf="matchmaking" (click)="leaveMaking()" class="button is-danger" style="
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 9;
				    margin: auto;
				    width: 30%;
				    min-width: 120px;
				">Cancel MatchMaking</button>
				<img src="assets/Pong.jpeg" alt="illustration" class="img-fluid">
				</figure>
			</div>
		</div>
		<br><br>
</section>