<section>
		<div class="container">
			<div style="text-align: center;"><h1> Let's Fight</h1></div>
			<div class="card">
				<!-- {{title | async}} -->
				<figure class="image is-16by9">
				  
				<button (click)="matchMaking()" class="button is-info" style="
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 9;
				    margin: auto;
				    width: 30%;
				    min-width: 120px;
				">MatchMaking</button>
				<img src="assets/Pong.jpeg" alt="illustration" class="img-fluid">
				</figure>
			</div>
		</div>
</section>