  <section class="section">
    <div class="container">
      <h1 class="title">Complete Registration</h1>
      <div class="card">
        <div *ngIf="usernameControl" class="card-content">
          <form [formGroup]="checkoutForm" (ngSubmit)="completeRegister(checkoutForm.value)">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input type="text" formControlName="name" [formControl]="usernameControl" placeholder="Enter your username" class="form-control input" required>
                  <div *ngIf="usernameControl.invalid && usernameControl.touched">
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link"  [disabled]="usernameControl.invalid" type="submit">New..</button>
              </div>
            </div>
            <div class="field">
              <div>
                  <p *ngIf="usernameControl.errors?.['required']" class="help is-danger">Username is required</p>
                  <p *ngIf="usernameControl.errors?.['pattern']" class="help is-danger">Invalid characters</p>
                  <p *ngIf="usernameControl.errors?.['maxlength']" class="help is-danger">Max length exceeded</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>