        <section class="section pb-0">
            <div class="video-container">
                <div class="black-overlay">
                  <video autoplay muted loop>
                    <source src="/imgs/game_video.mov" type="video/mp4">
                  </video>
                </div>
                <div class="content">
                  <div class="title" style="margin-top: 30px;">
                    <i class="fa-solid fa-table-tennis-paddle-ball" style="color: #f5c344;"></i>
                    Crazy Pong
                    <i class="fa-solid fa-table-tennis-paddle-ball" style="color: #f5c344;"></i>
                  </div>
                  <p class="text-below" style="font-size: 25px;padding: 20px;">Crazy Pong is a tribute to the classic Atari Pong game. This version takes the original game and adds new modes such as tournaments or multiplayer. The user interface has also been updated to give it a more modern look. Whether you are a fan of the original Pong or are looking for a fun and challenging game, Crazy Pong will provide you with hours of entertainment. Try it now and see if you have what it takes to beat the high score. Register or login and start playing!</p>
                  <br>
                  <div class="options">
                    <a href="/users/register" class="navlink" >Register</a>
                    <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-2c2ec0c7f84e7050052f58ecb3b512a3e2182827b1fa480faece0ffed304acc0&redirect_uri=http%3A%2F%2Flocalhost&response_type=code" class="navlink">Login 42</a>
                    <a href="/users/login" class="navlink" >Login</a>
                  </div>
                </div>
              </div>
        </section>