  <link rel="stylesheet" href="/css/information.css">

  <div class="accordion">
    <h1 style="text-align: center;padding: 20px;">{{text4}}</h1>
    <div class="accordion-item">
      <div class="accordion-title" onclick="toggleAccordion(1)">
        <h2>{{text5}}<span class="arrowww">&#9660;</span></h2>
      </div>
      <div class="accordion-content">
        <p>{{text6}}</p>
      </div>
    </div>
    
    <div class="accordion-item">
      <div class="accordion-title" onclick="toggleAccordion(2)">
        <h2>{{text7}}<span class="arrowww">&#9660;</span></h2>
      </div>
      <div class="accordion-content">
        <p>{{text8}}</p>
      </div>
    </div>

  <div class="accordion-item">
    <div class="accordion-title" onclick="toggleAccordion(3)">
      <h2>{{text9}}<span class="arrowww">&#9660;</span></h2>
    </div>
    <div class="accordion-content">
      <p>{{text10}}</p>
    </div>
  </div>

<div class="accordion-item">
    <div class="accordion-title" onclick="toggleAccordion(4)">
      <h2>{{text11}}<span class="arrowww">&#9660;</span></h2>
    </div>
    <div class="accordion-content">
      <p></p>
      <div class="d-flex align-items-center justify-content-center mt-2">
        <i class="bi-arrow-up-square" style="font-size: 2em;"></i>
        <p class="mb-0 ms-2">{{text12}}</p>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-2">
        <i class="bi-arrow-down-square" style="font-size: 2em;"></i>
        <p class="mb-0 ms-2">{{text13}}</p>
      </div>
    </div>
  </div>
  <!--Si hay que poner mas info poner aqui abajo -->
</div>
<script src="/js/information.js"></script>