  <link rel="stylesheet" href="/css/information.css">

  <div class="accordion">
    <h1 style="text-align: center;padding: 20px;">Information</h1>
    <div class="accordion-item">
      <div class="accordion-title" onclick="toggleAccordion(1)">
        <h2>Objective of the game<span class="arrow">&#9660;</span></h2>
      </div>
      <div class="accordion-content">
        <p>The objective is to score points by making the ball pass through the opposite side of the screen without the opponent returning it.</p>
      </div>
    </div>
    
    <div class="accordion-item">
      <div class="accordion-title" onclick="toggleAccordion(2)">
        <h2>Game elements<span class="arrow">&#9660;</span></h2>
      </div>
      <div class="accordion-content">
        <p>The game consists of two paddles located on opposite sides of the screen and a ball that bounces between them. The paddles are used to hit the ball and send it towards the opponent.</p>
      </div>
    </div>

  <div class="accordion-item">
    <div class="accordion-title" onclick="toggleAccordion(3)">
      <h2>Scoring<span class="arrow">&#9660;</span></h2>
    </div>
    <div class="accordion-content">
      <p>When a player fails to return the ball and it passes his paddle, the opponent scores a point. The first player to reach 11 points wins the game.</p>
    </div>
  </div>

<div class="accordion-item">
    <div class="accordion-title" onclick="toggleAccordion(4)">
      <h2>Controls<span class="arrow">&#9660;</span></h2>
    </div>
    <div class="accordion-content">
      <p></p>
      <div class="d-flex align-items-center justify-content-center mt-2">
        <i class="bi-arrow-up-square" style="font-size: 2em;"></i>
        <p class="mb-0 ms-2">To raise the paddles</p>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-2">
        <i class="bi-arrow-down-square" style="font-size: 2em;"></i>
        <p class="mb-0 ms-2">To lower the blades</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-title" onclick="toggleAccordion(5)">
      <h2>Mas info que nose que poner<span class="arrow">&#9660;</span></h2>
    </div>
    <div class="accordion-content">
      <p>Lorem ipsum al fallo</p>
    </div>
  </div>
  <!--Si hay que poner mas info poner aqui abajo -->
</div>
<script src="/js/information.js"></script>